doctype html
html
    head
        block title
        block style
    body
        nav#navbar
            ul
                div#logo
                    img(src = "https://www.shareicon.net/data/256x256/2015/11/13/671327_man_512x512.png", alt = "logo")
                li #[a(href = "/")  Home]
                li #[a(href = "/")  Class Info]
                li #[a(href = "/")  Services]
                li #[a(href = "/")  About Us]
                li #[a(href = "/contact")  Contact Us]
        block content
        footer
            p &#169; Copyright 2022 Rock and Roll | All rights reserved